.navbar-nav{
    display:flex;
    gap: 10px;
    
}

.navbar .nav-link {
  color: white !important;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #f8f9fa !important; /* Slightly brighter */
}
